@charset "EUC-KR";
.cl{
	background:cornsilk;
}

.contactleft{
	background:cornsilk;
	width:30px;
	margin:30px auto;
	padding:5px 5px;
}
.contactleft .sns{
	background:cornsilk;
	vertical-align:middle;
}

.contactleft:hover{
	border:2px #196F3D solid;
	border-radius:4px;
}