@charset "EUC-KR";

/*Global CSS Start ----------*/
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&family=Crimson+Pro:wght@200&family=Oooh+Baby&family=Petit+Formal+Script&family=Quicksand:wght@300;500&display=swap');

*{
	margin:0 auto;
	background-image:url('../img/pizza_wallpaper.jpg');
}
a{
	text-decoration:none;
}
ul, ol{
	list-style:none;
}
/*Global CSS End ----------*/

/*Header CSS start ----------*/
header{
	width:600px;
	height:100px;
	margin:0 auto;
	padding:80px 50px 20px 50px;
	background:none;
}
header > h1{
	text-align:center;
	line-height:70px;
	color:gold;
	background:none;
	font-family:'Oooh Baby', cursive;
	font-size:3em;
}

header > h1:hover{
	color:green;
}

header > h4{
	text-align:center;
	color:gold;
	background:none;
	font-family:'Petit Formal Script', cursive;
	text-decoration: overline;
}

/*Header CSS End ----------*/

/*Nav CSS Start ----------*/
nav{
	width:600px;
	height:30px;
	margin:0 auto;
	background:white;
	opacity:0.5;
}
nav > ul{
	width:500px;
	margin:0 auto;
}
nav > ul > li{
	float:left;
	width:125px;
}
nav > ul > li > a{
	display:block;
	text-align:center;
	line-height:30px;
	background:white;
	font-family:'Crimson Pro', serif;
	font-weight:bold;
	color:darkolivegreen;
}

nav > ul > li >a:hover{
	font-weight:bold;
	background:antiquewhite;
}
/*Nav CSS End ----------*/

/*Section CSS Start ----------*/
section{
	width:600px;
	height:500px;
	margin:0 auto;
	opacity:0.9;
}
section > aside{
	float:left;
}
section > #left_aside{
	width:100px;
	height:500px;
	background:cornsilk;
}

section > #center_aside{
	width:380px;
	height:500px;
	background:ivory;
	overflow:scroll;
}

section > #right_aside{
	width:120px;
	height:500px;
	background:oldlace;
}


/*
.ad:hover{
	transform:scale(3);
}*/

/*Section CSS End ----------*/

/*Footer CSS Start ----------*/
footer{
	width:600px;
	height:30px;
	background:#04301C;
	margin:0 auto 30px auto;
}

footer > p{
	text-align:center;
	color:white;
	font-family:'Quicksand', sans-serif;
	font-size: 0.8em;
	line-height:30px;
	background:none;
}
/*Footer CSS End ----------*/