@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@400;800&family=Crimson+Pro:wght@200&family=Oooh+Baby&family=Petit+Formal+Script&family=Quicksand:wght@300;500&display=swap');

#center_aside > h3{
	background:ivory;
	font-family:'Biorhyme', serif;
	font-weight:400;
	color:firebrick;
	margin: 20px 0 0 0;
	text-align:Center;
}

#center_aside > form, fieldset{
	margin:5px;
	background:ivory;
	font-family:'Quicksand', sans-serif;
	font-size:0.9em;
	border:none;
}

#form_reserve legend{
	display:block;
	background:ivory;
	margin:10px auto;
	font-family:'Biorhyme', serif;
	font-weight: bold;
}


#form_reserve p{
	text-align:center;
	background:ivory;
}

#form_reserve .rinfo{
	font-family:'Quicksand', sans-serif;
	margin:10px 0;
	border:0.5px solid gray;
	display:block;
}

#form_reserve input[class="rinfo"], select{
	background:white;
}

#form_reserve #namepick{
	margin:10px 0 5px 0;
}
	
#form_reserve button{
	background:BurlyWood;
	color:black;
	font-family:'Crimson Pro', serif;
	font-size:1.1em;
	margin:5px auto;
	display:block;
}

#form_reserve textarea{
	background:white;
	width:290px;
}

#form_reserve .rinfo:focus{
	outline:none;
	border:2px solid #3D876C;
}

#nameguide{
	display:block;
	background:ivory;
	color:#3D876C;
	font-weight:bold;
	margin:10px 10px;
}

.notice{
	background:ivory;
	margin:50px 20px 20px 20px;
}
.terms{
	margin:5px auto;
}

.terms summary{
	background:ivory;
	font-family:'Biorhyme', serif;
	font-weight:400;
	color:firebrick;
}
.terms p{
	background:ivory;
	padding:10px 10px;
	font-family:'Quicksand', sans-serif;
	font-size:0.8em;
}