<meta charset="UTF-8">
<title>MENU-Pacifico Pizzeria</title>
<link rel="stylesheet" href="css/menu.css">
<article class="info">
	<h3 id="tpizza">Pizza</h3>
		<table class="menutbl" id="pizza">
		<thead>
			<tr><th>Name</th><th>Ingredients</th><th>Price</th></tr>
		</thead>
		<tbody>
			<tr><td>Margherita</td><td>Crushed tomatoes, mozzarella cheese</td><td>12</td></tr>
			<tr><td>Pepperoni</td><td>Mozzarella, pepperoni</td><td>12</td></tr>
			<tr><td>Hwaiian</td><td>Ham, grilled pineapple</td><td>13</td></tr>
			<tr><td>Vegetariana</td><td>Grilled mushrooms, eggplant</td><td>13</td></tr>
			<tr><td>The Gorgon</td><td>Pesto sauce, mushrooms</td><td>14</td></tr>
		</tbody>
	</table>	
</article>
<article class="info">
	<h3 id="tsalad">Salad</h3>
	<table class="menutbl" id="salad">
		<thead>
			<tr><th>Name</th><th>Ingredients</th><th>Price</th></tr>
		</thead>
		<tbody>
			<tr><td>Giardino</td><td>Mixed greens, house dressing</td><td>10</td></tr>
			<tr><td>Carprese</td><td>Fiori di latte mozzarella, tomatoes, fresh basil</td><td>13</td></tr>
			<tr><td>Caesar</td><td>Romaine lettuce, crutons, garlic dressing</td><td>11</td></tr>
		</tbody>
	</table>	
</article>
<article class="info">
	<h3 id="tpasta">Pasta</h3>
	<table class="menutbl" id="pasta">
		<thead>
			<tr><th>Name</th><th>Ingredients</th><th>Price</th></tr>
		</thead>
		<tbody>
			<tr><td>Fettuccini Alfredo</td><td>Parmesan cream sauce</td><td>18</td></tr>
			<tr><td>Gnocchi Rosa</td><td>Rose sauce</td><td>18</td></tr>
			<tr><td>Anelli Bolognese</td><td>Tender braised beef ragu</td><td>21</td></tr>
		</tbody>
	</table>	
</article>
<article class="info">
	<h3 id="toven">From the Oven</h3>
	<table class="menutbl" id="oven">
		<thead>
			<tr><th>Name</th><th>Ingredients</th><th>Price</th></tr>
		</thead>
		<tbody>
			<tr><td>Chicken Parmigiana</td><td>Seasoned chicken breast topped with pomodoro sauce</td><td>24</td></tr>
			<tr><td>Lasagna Emiliana</td><td>Northern Italian style lasagna</td><td>26</td></tr>
			<tr><td>Baked Cannelloni</td><td>Oven baked with cream and pomodoro sauce</td><td>22</td></tr>
		</tbody>
	</table>	
</article>
	<article class="info">
	<h3 id="twine">Wine List</h3>
	<table class="menutbl" id="wine">
		<thead>
			<tr><th>Name</th><th>Ingredients</th><th>Price</th></tr>
		</thead>
		<tbody>
			<tr><td>Gabbiano Promess Pinot Grigio</td><td>Italy</td><td>42</td></tr>
			<tr><td>Matua Hawkes Bay Sauv.Blanc</td><td>New Zealand</td><td>46</td></tr>
			<tr><td>Mission Hill Reserve Merlot</td><td>BC</td><td>55</td></tr>
			<tr><td>Castello di Gabbiano Chianti</td><td>Italy</td><td>45</td></tr>
			<tr><td>Volcanic Hills Rose</td><td>BC</td><td>45</td></tr>
			<tr><td>Henkell Trocken 200ml</td><td>Germany</td><td>9</td></tr>
		</tbody>
	</table>	
</article>