<meta charset="UTF-8">
<link rel="stylesheet" href="css/reserveleft.css">

<script>
	$(function(){
		$('#bt_tandc').click(function(){
			document.getElementById('tandc').open = true;
		});
		$('#bt_pn').click(function(){
			document.getElementById('pn').open = true;
		});
	});
</script>

<div class="reserveleft">
	<div>
		<a href="#tandc">
			<button class="rsnotice" id="bt_tandc">▶Terms and Conditons</button>
		</a>
	</div>
	<div>
		<a href="#pn">
			<button class="rsnotice" id="bt_pn">▶Privacy Notice</button>
		</a>
	</div>
</div>