
<meta charset="UTF-8">
<title>CONTACT-Pacifico Pizzeria</title>

<link rel="stylesheet" href="css/contact.css">

<div class="contact">
<h1>Contact Us</h1>
<table id="tcontact">
<thead><tr><th></th><th></th></tr></thead>
<tbody>
	<tr><td>Phone</td><td>(604) 408-0808</td></tr>
	<tr><td>Email</td><td>admin@pacificopizza.com</td></tr>
	<tr><td>Address</td><td>970 Smithe St, Vancouver, BC V6ZOA4</td></tr>
</tbody>
</table>
</div>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.71241247674!2d-123.12622018441229!3d49.28184637875111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717ffe854b25%3A0x34e9df43d7d6c590!2sPacifico%20Pizzeria%20%26%20Ristorante!5e0!3m2!1sen!2skr!4v1653372067967!5m2!1sen!2skr"
	id="map"></iframe>
</div>





