<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/contactleft.css">
</head>
<body>
<div class="cl">
	<div class="contactleft">
		<a href="https://www.facebook.com/pacificopizza/" target="_blank">
			<img class="sns" src="img/facebook.png" alt="facebook" width="30px" height="30px">
		</a>
	</div>
	<div class="contactleft">
		<a href="https://www.instagram.com/pacificopizza/" target="_blank">
			<img class="sns" src="img/instagram.png" alt="instagram" width="30px" height="30px">
		</a>
	</div>
</div>
</body>
</html>