<meta charset="UTF-8">
<title>HOME-Pacifico Pizzeria</title>
<link rel="stylesheet" href="css/home.css">
<script>

function display(d){
	const chart= Highcharts.chart('container', {
	  chart: {
	    styledMode: true
	  },
	  title: {
		text: ''
	  },
	  series: [{
	    type: 'pie',
	    allowPointSelect: true,
	    keys: ['name', 'y', 'selected', 'sliced'],
	    data: d,
	    showInLegend: true
	  }]
	});
};

function getdata(){
	$.ajax({
		url:'getchart',
		success:function(data){
			display(data);
		}
	});
};

$(function(){
	$('#getdata').click(function(){
		getdata();
	});
});

</script>
<article class="info">
	<h3 id="hoo">Hours of Operation</h3>
		<ul>
			<li><span id="dinetype">DINE-IN</span><br>Sunday - Thursday: 11:45am - 10pm<br> Friday and Saturday: 11:45am - 11pm</li>
			<li><span id="dinetype">TAKEOUT</span><br>11:45am - 9:30pm</li>
			<li><span id="dinetype">DELIVERY</span><br>5pm - 9:30pm</li>
		</ul>
</article>
<article class="info">
	<h3 id="awards">Awards</h3>
	<table id="award">
		<thead>
			<tr><th>Given By</th><th>Award</th></tr>
		</thead>
		<tbody>
			<tr><td>Tripadvisor</td><td>Certificate of Excellence</td></tr>
			<tr><td>triposo</td><td>Best for Pizza</td></tr>
			<tr><td>Opentable</td><td>Diner's Choice 2015</td></tr>
		</tbody>
	</table>
</article>
<article class="info">
	<h3 id="reviews">Customers Loved Our</h3>
	<figure class="highcharts-figure">
 		<div id="container"></div>
 		<button id="getdata">Click to Check Reviews!</button>
	</figure>
	
</article>
<div id="result"></div>
